###########################
# Visual Studio C++ Defaults
###########################

# Build Results (Artifacts)
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa]rm64/
[Aa]rm/
bin/
obj/
*.exe
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.out
*.app

# Intermediate Build Files
*.obj
*.tlog
*.lastbuildstate
*.recipe
*.idb
*.ipch
*.pch
*.res
*.pch
*.iobj
*.ipdb

# Visual Studio Project & User Files
.vs/
*.user
*.suo
*.sln.docstates
*.db
*.opendb
*.vc.db

# Intellisense & Browse database
*.ncb
*.sdf
*.sdf

# Unit Test & Code Analysis
TestResults/
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded

###########################
# Temporary & System Files
###########################
*.tmp
*.bak
*.swp
*.~*
Thumbs.db
.DS_Store

###########################
# External Tools
###########################
# vcpkg (if you use it for C++ libraries)
vcpkg_installed/

# CMake (if you eventually switch from .vcxproj)
/out/
/build/
CMakeSettings.json
CMakeUserPresets.json